a  {
	text-decoration: none;
}

ol, ul {
	list-style-type: none;
	padding-left: 0;
}


/* custom classes */
.number-list > li {
	counter-increment: numbers;
}

.number-list > li::before {
	content : "(" counter(numbers , cjk-ideographic) ")";
}



/* content */

